
@use '../utilities/variables' as *;

@mixin flex($direccion, $justify, $align) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
}

@mixin titulo($tamano, $color) {
    font-family: $font-titulo;
    font-size: $tamano;
    color: $color;
    text-align: center;
}

@mixin transicion($propiedad,$duracion) {
    transition: $propiedad $duracion;
}
